{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="contrast">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'users/bootstrap.min.css' %}" />
    <script src="{% static "users/bootstrap.bundle.min.js" %}"></script>
  </head>
  <body>
    {% include "users/navbar.html" %} {% block content %}{% endblock %}
  </body>
</html>
