<main class="container my-4">
  <h1>Welcome, {{ user.first_name }}</h1>
  <h4 class="mt-4">Continue building course...</h4>
  <section class="row g-4 justify-content-start">
    {% comment %} {% for course in list %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    {% endfor %} {% endcomment %}
  </section>
</main>
