<main class="container my-4">
  <h1>Welcome, {{ user.first_name }}</h1>
  <section class="mt-4 g-4 justify-content-start">
    <h4>Continue building course...</h4>
    <div class="row">
      {% for course in unpublished_courses_set %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ course.name }}</h5>
            <p class="card-text">{{ course.description }}</p>
            <p class="card-text text-secondary">Unpublished</p>
            <a href="/" class="btn btn-primary">Edit</a>
            <form style="display: inline-block">
              <button class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
  <section class="mt-4 g-4 justify-content-start">
    <h4>Your courses</h4>
    <div class="row">
      {% for course in published_courses_set %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ course.name }}</h5>
            <p class="card-text">{{ course.description }}</p>
            <p class="card-text text-secondary user-select-none">
              Published Date: {{ course.published_date }}
            </p>
            <a href="/" class="btn btn-primary">Edit</a>
            <a href="/" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
</main>
