{% extends "users/base.html" %} {% block content %}
<div class="container my-4">
  <h4>Editing course "{{course.name}}"</h4>
  <form class="my-3" id="edit-form">
    {% csrf_token %}
    <label for="course-name">Course name:</label>
    <input
      id="course-name"
      type="text"
      class="form-control mb-2"
      value="{{course.name}}"
    />
    <label for="course-description">Coures description:</label>
    <textarea
      id="course-description"
      name="course-description"
      class="form-control mb-2"
      minlength="20"
      maxlength="255"
      style="height: 6rem"
      required
    ></textarea>
    {% if course.published_date is None %}
    <div>
      <input id="publish" type="checkbox" name="publish" />
      <label for="publish" class="user-select-none">Publish?</label>
    </div>
    {% endif %}
    <button type="submit" class="btn btn-primary mt-3">Save changes</button>
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-danger mt-3"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Delete Course
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete the course <br />
            <strong>"{{course.name}}"</strong>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button id="delete-course" type="button" class="btn btn-danger">
              Delete Course
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <script>
    document.querySelector("textarea").value = "{{course.description}}";
    const form = document.forms[1];

    form.addEventListener("submit", (e) => {
      e.preventDefault();
      const course_name = form["course-name"].value;
      const course_description = form["course-description"].value;
      const toPublish = form["publish"].checked;
      const csrfmiddlewaretoken = form["csrfmiddlewaretoken"].value;
      console.log({
        course_name,
        course_description,
        toPublish,
        csrfmiddlewaretoken,
      });

      fetch('{% url "course_edit" pk=course.id %}', {
        method: "PUT",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
          "X-CSRFToken": csrfmiddlewaretoken,
        },
        body: JSON.stringify({
          course_name,
          course_description,
          toPublish,
        }),
      })
        .then((res) => {
          if (res.status === 200) {
            console.log(res.url);
            window.location.assign(res.url);
          }
        })
        .catch(console.error);
    });
    document.querySelector("#delete-course").addEventListener("click", (e) => {
      fetch('{% url "delete_course" pk=course.id %}').then((res) => {
        console.log(res.status);
        if (res.status === 200) {
          window.location.assign(res.url);
        }
      });
    });
  </script>
</div>
{% endblock content %}
